@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    width: 100vw;
    overflow-x: hidden;
    
    @media (max-width: 650px) {
        width: 100vw;
        overflow-x: hidden;
        background-color: #f5f5f5;
    }
        
}

a {
    text-decoration: none;
} 

.container {
    max-width: calc($widthSite + 40px);
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

    @media (max-width: 650px) {
        max-width: 320px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

// header
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
}

.logo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
    

    &__img {
        width: 200px;

        @media (max-width: 650px) {
            display: none;
        }
    }

    &__img-mobile {
        display: none;

        @media (max-width: 650px) {
            width: 104px;
            display: block;
        }
    }   

    &__link {
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        color: $colorText;
        display: flex;
        width: 211px;
        flex-direction: row;
        align-items: center;

        @media (max-width: 900px) {
            display: none;
        }
    }
    &__link::before {
        content: '';
        display: block;
        height: 26px;
        width: 1px;
        background-color: $colorText;
        margin-right: 23px;
        margin-left: 10px;
        opacity: 0.2;

        @media (max-width: 900px) {
            display: none;
        }
    }
}

.address {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;

    @media (max-width: 900px) {
        display: none;
    }

    &__text {
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        color: $colorText;
        display: block;
        width: 115px;
    }

    &__map {
        width: 50px;
        border-radius: 100%;
        border: 6px solid #fff;
        box-shadow: 0 14px 54px 0 rgba(0, 0, 0, 0.08);

    }
}

.telephone {
    border-radius: 673px;
    width: 233px;
    height: 56px;
    box-shadow: 0 14px 54px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;

    @media (max-width: 900px) {
        border-radius: 100%;
        width: 60px;
        height: 60px;
    }

    @media (max-width: 650px) {
        border-radius: 100%;
        width: 30px;
        height: 30px;
    }

    &__box-text {
        @media (max-width: 900px) {
            display: none;
        }
    }

    &__title {
        font-family: $font-family;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        color: #818181;
    }

    &__text {
        font-family: $font-family;
        font-weight: 500;
        font-size: 10px;
        color: #767676;
        text-align: center;
    }

    &__text::before {
        content: '';
        display: inline-block;
        text-align: center;
        width: 4px;
        height: 4px;
        background-color: #79BC6E;
        border-radius: 100%;
        margin-right: 4px;
        margin-bottom: 1px;
    }
}

.telephone:hover {
    border: 1px solid $colorMain;
}

.color-main {
    color: $colorMain;
}

.phone-img {
    width: 13px;

    @media (max-width: 900px) {
        display: none;
    }
}

.phone-border {
    border-radius: 100%;
    width: 31px;
    height: 31px;
    background-color: $colorMain;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 900px) {
        display: none;
    }
}

.phone-img-mobile {
    display: none;

    @media (max-width: 900px) {
        display: flex;
        width: 30px;
    }

    @media (max-width: 650px) {
        width: 12.58px;
        
    }
}

.box-for-mobile {
    display: flex;
    align-items: center;
    flex-direction: row;
}

//burger-menu
.burger-menu {
    display: none;

    @media (max-width: 900px) {
        display: flex;
    }

    &__content {
        width: 100vw;
        position: absolute;
        z-index: 20;
        right: 0;
        top: 95px;
        background-color: #fff;
        padding: 37px 33px 33px;

        @media (max-width: 650px) {
            right: 0;
            top: 44px;
        }
    }
        
    &__summary {
        display: flex;
        align-items: center;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
        
    &__link {
        font-family: $font-family;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
        color: $colorText;
    }           
}

summary {
    display: block
}

summary::-webkit-details-marker {
    display: none
}

.ham1 {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    user-select: none;
    
    @media (max-width: 650px) {
        width: 30px;
    }
}
.ham1 path{
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
}
.ham1.active {
    transform: rotate(45deg);
}
.ham1 .top {
    stroke-dasharray: 40 139;
}
.ham1 .bottom {
    stroke-dasharray: 40 180;
}
.ham1.active .top {
    stroke-dashoffset: -98px;
}
.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

// hero
.background {
    background-image: url('../img/hero-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
    overflow: hidden;

    @media (max-width: 650px) {
        background-image: none;
        overflow: visible;
    }
}

.hero {
    margin-top: 25.5px;
    display: flex;
    gap: 18px;
    flex-direction: row;
    margin-bottom: -5px;

    @media (max-width: 1160px) {
        margin-top: 16px;
        gap: 10px;
        flex-direction: column-reverse;
        align-items: center;
    }

    &__left-box {
        position: relative;
    }

    &__text-backgroung {
        display: flex;
        align-items: center;
        position: absolute;
        top: 170px;
        left: 0;
        z-index: -1;

        @media (max-width: 650px) {
            top: 64px;
        }
    }

    &__top {
        font-family: $font-family;
        font-weight: 800;
        font-size: 35px;
        line-height: 200%;
        color: $colorMain;
        display: inline-block;
        margin-top: 30px;

        @media (max-width: 650px) {
            margin-top: 15px;
            font-size: 13px;
            line-height: 205%;
        }
    }

    &__five {
        font-family: $font-family;
        font-weight: 800;
        font-size: 165px;
        line-height: 140px;
        background: linear-gradient(163deg, #e21f4d 45%, #981433 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 650px) {
            font-size: 62px;
            line-height: 50px;
        }
    }

    &__photo {
        max-width: 493px;

        @media (max-width: 650px) {
            max-width: 186px;
        }
    }

    &__raiting {
        position: absolute;
        top: 215px;
        left: 170px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 102px;

        @media (max-width: 650px) {
            top: 83px;
            left: 60px;
            width: 54px;
        }
    }

    &__star-img {
        width: 60px;

        @media (max-width: 650px) {
            width: 22.88px;
        }
    }

    &__star-text {
        font-family: $font-family;
        font-weight: 600;
        font-size: 19px;
        color: $colorText;

        @media (max-width: 650px) {
            font-size: 10px
        }
    }

    &__signature-box {
        position: absolute;
        top: 506.5px;
        right: 72px;

        @media (max-width: 650px) {
            top: 145px;
            right: 26px;
        }
    }

    &__signature-name {
        border-radius: 5px;
        width: 185px;
        height: 45px;
        box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.1);
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 11px;
        z-index: 5;

        @media (max-width: 650px) {
            width: 127px;
            height: 29px;
            gap: 5px;
        }
    }

    &__signature-name-text {
        font-family: $font-family;
        font-weight: 800;
        font-size: 16px;
        color: $colorMain;

        @media (max-width: 650px) {
            font-weight: 700;
            font-size: 12px;
        }
    }

    &__signature-one-line {
        margin-left: 24px;
        padding-top: 5px;
        padding-left: 23px;
        border-radius: 5px;
        width: 228px;
        height: 39px;
        background: #fff;
        font-family: $font-family;
        font-weight: 500;
        font-size: 18px;
        line-height: 156%;
        color: $colorText;

        @media (max-width: 650px) {
            display: none;
        }
    }

    &__signature-two-line {
        border-radius: 5px;
        width: 213px;
        height: 37px;
        box-shadow: 0 13px 24px 0 rgba(0, 0, 0, 0.15);
        background: #fff;
        font-family: $font-family;
        font-weight: 500;
        font-size: 18px;
        line-height: 156%;
        color: $colorText;
        margin-left: 24px;
        margin-top: -13px;
        padding-left: 23px;
        padding-top: 8px;

        @media (max-width: 650px) {
            display: none;
        }
    }

    &__signature-fhree-line {
        border-radius: 5px;
        width: 178px;
        height: 47px;
        box-shadow: 0 13px 24px 0 rgba(0, 0, 0, 0.15);
        background: #fff;
        font-family: $font-family;
        font-weight: 400;
        font-size: 11px;
        color: #969696;
        margin-left: 24px;
        margin-top: -8px;
        padding-left: 23px;
        padding-top: 8px;

        @media (max-width: 650px) {
            display: none;            
        }
    }
    &__signature-box::after  {
        @media (max-width: 650px) {
            margin-top: 5px;
            margin-left: 6px;
            display: flex;
            content: 'главный врач клиники';
            font-family: $font-family;
            font-weight: 600;
            font-size: 10px;
            color: rgba(63, 63, 63, 0.5);
        }
    }

    //right-box
    &__right-box{
        @media (max-width: 650px) {
            max-width: 310px;
            height: 170px;
            position: relative;   
        }
    }
    &__title {
        font-family: $font-family;
        font-weight: 800;
        font-size: 55px;
        line-height: 127%;
        color: $colorText;
        margin-bottom: 41px;
        margin-top: 53.5px;
        max-width: 656px;

        @media (max-width: 700px) {
            font-size: 40px;
            max-width: 500px;
            margin-bottom: 15.65px;
        }

        @media (max-width: 650px) {
            font-size: 24px;
            max-width: 284px;
            margin: 0 auto;
            margin-bottom: 15.65px;
        }
    }

    &__text {
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: $colorText;
        width: 425px;
        margin-left: 57px;
        margin-bottom: 31.5px;

        @media (max-width: 1160px) {
            margin-left: 0;
        }

        @media (max-width: 650px) {
            font-weight: 400;
            font-size: 12px;
            max-width: 284px;
            margin: 0 auto;
            margin-bottom: 9.75px;
        }
    }

    &__button {
        margin-left: 57px;
        margin-bottom: 40px;

        @media (max-width: 650px) {
            position: absolute;
            margin-left: 0;
            top: 230px;
            left: 0px;
        }
    }

    &__article {
        margin-left: 75px;
        padding: 28px 22px 35px 21px;
        display: flex;
        gap: 26px;
        border-radius: 10px;
        width: 427px;
        height: 140px;
        box-shadow: 0 12px 46px 0 rgba(0, 0, 0, 0.15);
        background: #fff;
        align-items: center;
        position: relative;

        @media (max-width: 1160px) {
            margin-left: 0;
        }

        @media (max-width: 650px) {
            margin-left: 42px;
            position: absolute;
            border-radius: 5px;
            top: 494px;
            width: 217px;
            height: 152px;
            padding: 32px 20px 10px 20px ;
            gap: 18.46px;
            box-shadow: 0 6px 23px 0 rgba(0, 0, 0, 0.08);
            flex-direction: column;
        }
    }

    &__article-info {
        display: flex;
        flex-direction: column;
        gap: 5px;

        @media (max-width: 650px) {
            gap: 10px;
        }
    }

    &__article-title {
        font-family: $font-family;
        font-weight: 600;
        font-size: 18px;
        color: $colorText;

        @media (max-width: 650px) {
            font-size: 12px;
        }
    }

    &__article-text {
        font-family: $font-family;
        font-weight: 400;
        font-size: 13px;
        color: $colorText;

        @media (max-width: 650px) {
            font-size: 10px;
        }
    }

    &__article-link {
        margin-top: 10px;
        padding-bottom: 7px;
        border-bottom: 0.5px dashed #3f3f3f2e;
        width: 115px;

        @media (max-width: 650px) {
            margin-top: 5px;
            width: 90px;
        }
    }

    &__article-link:hover {
        border-bottom: 0.5px dashed #3f3f3f67;

        @media (max-width: 650px) {
            border-bottom: 0.5px dashed #3f3f3f2e;
        }
    }

    &__tooth-img {
        width: 55px;

        @media (max-width: 650px) { 
            width: 37px;
            position: absolute;
            top: -14px;
            border-radius: 100%;
            background-color: #fff;
            z-index: 1;
            border: 5px solid #ffF;
        }
    }

    &__article-arrow {
        position: absolute; 
        right: -25px; 
        top: 45px;

        @media (max-width: 650px) {
            top: 60px;
            right: -25px;
        }
    } 
    
    &__article-arrow:hover {
        box-shadow: 0 15px 59px 0 rgba(0, 0, 0, 0.5);

        @media (max-width: 650px) {
            box-shadow: 0 14px 53px 0 rgba(0, 0, 0, 0.08)
        }
    }
}

.background-circle {
    position: absolute;
    z-index: -10;
    left: -390px;
    top: -100px;

    @media (max-width: 650px) {
        width: 383.5px;   
        left: -70px;
        top:  0px;    
    }
}

.arrow {
    border-radius: 100%;
    padding: 14px 20px;
    background-color: #fff;
    box-shadow: 0 15px 59px 0 rgba(0, 0, 0, 0.1);

    @media (max-width: 650px) {
        top: 60px;
        right: -25px;
        padding: 10px 12px;
        box-shadow: 0 14px 53px 0 rgba(0, 0, 0, 0.08);
    }
}

.arrow:hover {
    box-shadow: 0 15px 59px 0 rgba(0, 0, 0, 0.5);

    @media (max-width: 650px) {
        box-shadow: 0 14px 53px 0 rgba(0, 0, 0, 0.08)
    }
}

.border-icon {
    border-radius: 100%;
    background-color: #fff;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-icon {
    width: 10px;
    height: 20px;
    margin-top: 2px;
}

.signature-img {
    position: absolute;
    right: -125px;
    top: 120px;

    @media (max-width: 650px) {
        display: none;
    }
}

.bold700 {
    font-weight: 700;
}

.bold800 {
    font-weight: 800;
}

// services

.services {
    margin-top: 50px;
    margin-bottom: 104px;

    @media (max-width: 650px) {
        margin-top: 220px;  
        margin-bottom: 50px;      
    }

    &__box {
        display: flex;
        flex-direction: row;
        gap: 25px;
        width: 1555px;
        position: relative;

        @media (max-width: 650px) {
            gap: 20px;   
            width: 776px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 143px;
        height: 44px;
        margin-bottom: 20px;

        @media (max-width: 650px) {
            width: 93px;
            height: 30px;
            margin-bottom: 9px;
        }
    }

    &__title {
        font-family: $font-family;
        font-weight: 700;
        font-size: 30px;
        line-height: 133%;
        text-transform: uppercase;
        color: $colorText;
        max-width: 905px;
        margin-bottom: 50px;

        @media (max-width: 650px) {
            font-size: 16px;
            line-height: 136%;
            max-width: 300px;
            margin-bottom: 21px;
        }
    }

    &__card {
        width: 370px;
        overflow: hidden;
        border-radius: 10px 10px 0px 0px;

        @media (max-width: 650px) {
            width: 179px;
            border-radius: 5px 5px 0px 0px;
        }
    }

    &__arrow-left {
        position: absolute;
        z-index: 5;
        top: 172px;
        left: -25px;
        
        @media (max-width: 650px) {
            top: 288px;
            left: 0;
        }
    }

    &__arrow-right {
        position: absolute;
        z-index: 5;
        top: 172px;
        left: 1105px;  
        
        @media (max-width: 1160px) {
            left: 900px;
        }

        @media (max-width: 996px) {
            left: 500px;
        }

        @media (max-width: 650px) {
            top: 288px;
            left: 80px;
        }
    }
}

.link-block {
    border-radius: 351px;
    box-shadow: 0 15px 59px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    font-family: $font-family;
    font-weight: 500;
    font-size: 14px;
    color: $colorMain;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 650px) {
        font-size: 10px;
        border-radius: 189px;
    }

    &:hover {
        border: 1px solid $colorMain;
    }
}

.shadow {
    border-radius: 10px 10px 0px 0px;
    width: 370px;
    height: 200px;
    box-shadow: 15px 0 66px 0 rgba(0, 0, 0, 0.08);
    background: radial-gradient(81.66% 73% at 50% 50%, rgb(255, 255, 255) 0%, rgb(103, 71, 71) 100%);
    opacity: 0.3;
    transition: 1s;
    z-index: 2;

    @media (max-width: 650px) {
        width: 179px;
        border-radius: 5px 5px 0px 0px;
        height: 96.76px;
    }
}
.card-img {
    border-radius: 10px 10px 0px 0px;
    width: 370px;
    height: 200px;
    background: $colorMain;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @media (max-width: 650px) {
        width: 179px;
        border-radius: 5px 5px 0px 0px;
        height: 96.76px;
    }

    &__img1 {
        position: absolute;
        left: 66px;
        top: -3px;
        transition: 0.5s;
        z-index: 3;

        @media (max-width: 650px) {
            width: 156.28px;
            left: 31.93px;
            top: -1.45px;
        }
    }

    &__plus-img1 {
        position: absolute;
        top: 25px;
        left: 18px;
        transition: 1s;
        z-index: 4;

        @media (max-width: 650px) {
            width: 157.71px;
            top: 12.09px;
            left: 8.71px;
        }
    }

    &__img2 {
        position: absolute;
        left: 42px;
        top: -97px;
        transition: 0.5s;
        z-index: 3;

        @media (max-width: 650px) {
            left: 24.67px;
            top: -65px;
            width: 217.63px;
        }
    }

    &__img3 {
        position: absolute;
        left: 0px;
        top: -19px;
        transition: 0.5s;
        z-index: 3;

        @media (max-width: 650px) {
            width: 156.28px;
            left: 0px;
            top: 0px;
        }
    }

    &__img4 {
        position: absolute;
        left: 0px;
        top: 0px;
        transition: 0.5s;
        z-index: 3;

        @media (max-width: 650px) {
            width: 156.28px;
            left: 0px;
            top: 0px;
        }
    }
}

.tooth:hover .card-img__plus-img1 {
    left: 5px;
    transform: scale(120%);
}

.tooth:hover .card-img__img1 {
    top: -5px;
    transform: scale(105%);
}

.tooth:hover .card-img__img2 {
    top: -115px;
    transform: scale(105%);

    @media (max-width: 650px) {
        top: -70px;
    }
}

.tooth:hover .card-img__img3 {
    top: -25px;
    transform: scale(105%);
}

.tooth:hover .card-img__img4 {
    top: -10px;
    transform: scale(105%);
}

.tooth:hover .shadow {
    background: radial-gradient(81.66% 73% at 50% 50%, rgb(255, 255, 255) 15%, rgb(103, 71, 71) 100%);
}

.card-info {
    padding: 34px 28px 35px 28px;

    @media (max-width: 650px) {
        padding: 10px 13px 10px 15px;
    }
}

.service {

    &__title {
        font-family: $font-family;
        font-weight: 500;
        font-size: 18px;
        color: $colorText;
        margin-bottom: 10px;

        @media (max-width: 650px) {
            font-size: 12px
        }
    }

    &__text {
        font-family: $font-family;
        font-weight: 400;
        font-size: 13px;
        color: $colorText;
        margin-bottom: 20px;

        @media (max-width: 650px) {
            font-size: 10px
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 17px;

        @media (max-width: 650px) {
            flex-direction: column;
            gap: 10px;
            align-items: start;
        }        
    }

    &__button {
        border-radius: 1000px;
        width: 146px;
        height: 39px;
        box-shadow: inset 0 0 27px 4px rgba(255, 255, 255, 0.46);
        background: $colorMain;
        font-family: $font-family;
        font-weight: 600;
        font-size: 14px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;

        @media (max-width: 650px) {
            font-size: 10px;
            border-radius: 484px;
            width: 150px;
            height: 30px;
        }
    }

    &__button:hover {
        box-shadow: inset 0 0 27px 4px rgba(148, 148, 148, 0.15);
    }

    &__link {
        font-family: $font-family;
        font-weight: 400;
        font-size: 13px;
        color: $colorText;

        @media (max-width: 650px) {
            font-size: 10px;
            border-bottom: 0.5px dashed #3f3f3f2e;
        }
    }

    &__link:hover {
        border-bottom: 0.5px dashed #3f3f3f2e;
    }
}

.slidecontainer {
    display: none;

    @media (max-width: 650px) {
        display: flex;
        position: absolute;
        left: 130px;
        top: 305px;
    }
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    background: #fff; /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    box-shadow: 0 11px 43px 0 rgba(0, 0, 0, 0.08);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 8px;
    width: 18px;
    height: 5px;
    background: $colorMain;
    cursor: pointer; /* Cursor on hover */
}

// our company

.our-company {
    display: flex;
    position: relative;

    @media (max-width: 1100px) {
        flex-direction: column-reverse;
        max-width: 600px;
        margin: 0 auto;
    }

    @media (max-width: 650px) {
        margin-top: 90px; 
        margin-bottom: 90px;
    }

}

.our-company-left {
    display: flex;
    
    @media (max-width: 650px) {
        margin-top: 20px; 
    }

    &__title-box {
        display: flex;
        flex-direction: column;
    }

    &__star {
        margin-left: -13px;
        margin-bottom: -7px;
        margin-top: 27px;
        width: 13px;

        @media (max-width: 650px) {
            display: none;
        }
    }

    &__title {
        font-family: $font-family;
        font-weight: 600;
        font-size: 55px;
        line-height: 105%;
        color: $colorText;
        margin-bottom: 20px;

        @media (max-width: 1100px) {
            max-width: 206px;
        }

        @media (max-width: 650px) {
            font-size: 30px;
            margin-bottom: 10px;
            max-width: 113px;
        }
    }

    &__text {
        font-family: $font-family;
        font-weight: 500;
        font-size: 18px;
        color: $colorText;
        margin-bottom: 33px;

        @media (max-width: 650px) {
            font-size: 10px;
        }
    }

    &__photo {
        margin-left: -87px;
        width: 512px;
        height: 487px;

        @media (max-width: 650px) {
            width: 252px;
            height: 239px;
            position: absolute;
            top: 200px;
            left: 110px;
            z-index: -1;
        }
    }

    &__button {
        @media (max-width: 650px) {
            position: absolute;
            top: 80px;

        }
    }
}

.our-company-right {
    &__link {
        width: 143px;
        height: 44px;
        margin-top: 4px;
        margin-left: -99px;

        @media (max-width: 1100px) {
           margin-left: 0px; 
        }

        @media (max-width: 650px) {
            width: 100px;
            height: 30px;
         }
    }

    &__star {
        position: absolute;
        top: 50px;
        left: 603px;
        width: 13px;

        @media (max-width: 1100px) {
            display: none;
        }
    }

    &__title {
        margin-top: 32px;
        font-family: $font-family;
        font-weight: 800;
        font-size: 30px;
        line-height: 133%;
        text-transform: uppercase;
        color: $colorText;
        max-width: 433px;
        margin-left: -99px;
        margin-bottom: 20px;

        @media (max-width: 1100px) {
           margin-left: 0; 
           max-width: 800px;
        }

        @media (max-width: 650px) {
            font-size: 16px;
            line-height: 140%;
            margin-top: 18px;
            margin-bottom: 10px;
        }
    }

    &__text-one {
        font-family: $font-family;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: $colorText;
        margin-bottom: 25px;

        @media (max-width: 1100px) {
           max-width: 800px;
        }

        @media (max-width: 650px) {
            font-size: 11px;
            font-weight: 400;
            max-width: 264px;
            margin-bottom: 12px;
        }
    }

    &__text-two {
        font-family: $font-family;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: $colorText;

        @media (max-width: 1100px) {
           max-width: 800px;
        }

        @media (max-width: 650px) {
            display: none;
        }
    }

    &__signature {
        width: 107.69px;
        position: absolute;
        top: 380px;
        left: 900px;
        @media (max-width: 1200px) {
            left: 600px;
            top: 420px;
        }

        @media (max-width: 1100px) {
            left: 300px;
            top: 650px;
        }

        @media (max-width: 650px) {
            width: 65px;
            left: 80px;
            top: 320px;

        }
    }
}

.main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    width: 292px;
    height: 80px;
    box-shadow: inset 0 0 27px 4px rgba(255, 255, 255, 0.46);
    background: $colorMain;
    font-family: $font-family;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    position: relative;
    margin-bottom: 40px;

    @media (max-width: 650px) {
        border-radius: 682px;
        max-width: 299px;
        height: 57px;
        font-size: 12px;
    }

    &:hover {
        border: 1px solid $colorMain;
        box-shadow: inset 0 0 27px 1px rgba(255, 255, 255, 0.3);

        @media (max-width: 650px) {
            box-shadow: inset 0 0 27px 4px rgba(255, 255, 255, 0.46);
            border: none;
        }
    }
    
    &__background {
        position: absolute;
        top: 26.5px;
        z-index: -1;
        display: flex;
        border-radius: 1000px;
        border: 0.5px solid #ffF;
        width: 236px;
        height: 64px;
        background: rgba(226, 31, 77, 0.6);
        filter: blur(8px);

        @media (max-width: 650px) {
            border-radius: 682px;
            width: 242px;
            height: 45px;
            filter: blur(23.199382781982422px);
            top: 19.29px;
        }
    }
}

// emploees


.employees-top {
    display: flex;
    flex-direction: row;
    margin-left: 32px;
    justify-content: space-between;

    @media (max-width: 1500px) {
        margin-left: 0;         
    }

    &__title-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;

        @media (max-width: 650px) {
            margin-bottom: 20px;       
        }
    }

    &__link {
        width: 177px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;

        @media (max-width: 650px) {
            font-size: 10px;   
            width: 125px;
            height: 30px;  
        }
    }

    &__title {
        font-family: $font-family;
        font-weight: 400;
        font-size: 30px;
        line-height: 133%;
        text-transform: uppercase;
        color: $colorText;
        max-width: 327px;

        @media (max-width: 650px) {
            font-size: 16px;
            line-height: 134%;
        }
    }

    &__text-box {
        position: relative;
        max-width: 428px;

        @media (max-width: 1150px) {
            display: none;
        }
    }

    &__star {
        position: absolute;
        width: 13px;
        top: 13px;
        left: -13px;
    }

    &__text {
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: $colorText;
        margin-top: 28px;    
    }
}

.employees {
    border-radius: 50px;
    max-width: 1500px;
    background-color: #f5f5f5;
    padding-top: 54px;
    padding-left: 149px;
    padding-right: 149px;
    padding-bottom: 46px;
    margin: 0 auto;

    @media (max-width: 650px) {
        background: none;
        padding: 0;
    }

    &__cards-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 25px;
        max-width: 1202px;
       
        @media (max-width: 1250px) {
            flex-wrap: wrap;
        }

        @media (max-width: 650px) {
            flex-wrap: nowrap;
            justify-content: start;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        max-width: 384px;
        border-radius: 10px;
        background-color: #fff;
        padding: 35px 31px;

        @media (max-width: 650px) {
            max-width: 202px;
            padding: 9px 14px 23px 15px;

        }
    }

    &__photo {
        max-width: 322px;
        margin-bottom: 20px;

        @media (max-width: 650px) {
            margin: 0 auto;
            max-width: 128px;
            margin-bottom: 10px;
        }
    }

    &__card-name {
        font-family: $font-family;
        font-weight: 500;
        font-size: 18px;
        color: $colorText;
        margin-bottom: 15px;

        @media (max-width: 650px) {
            font-size: 12px;
            margin-bottom: 10px;
            width: 173px;
        }
    }

    &__card-profession {
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        color: $colorMain;
        margin-bottom: 15px;

        @media (max-width: 650px) {
            font-size: 10px;
            margin-bottom: 10px;
            width: 175px;
        }
    }

    &__card-text {
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        color: $colorText;
        margin-bottom: 15px;
        max-width: 264px;

        @media (max-width: 650px) {
            font-size: 10px;
            margin-bottom: 9px;
        }
    }

    &__card-button {
        font-family: $font-family;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        color: $colorMain;
        border: 1px solid $colorMain;
        border-radius: 1000px;
        width: 161px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        &:hover {
            box-shadow: 0 5px 7px 4px rgba(17, 39, 88, 0.2);
        }

        @media (max-width: 650px) {
            font-size: 10px;
            border: 0.54px solid $colorMain;
            border-radius: 540px;
            width: 175px;
            height: 30px;
            gap: 2px;
        }
    }

    &__card-button-arrow {
        width: 10px;
        margin-top: 2px;
    }

    &__button-box {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 50px;

        @media (max-width: 650px) {
            margin-top: 20px;
            justify-content: start;
        }

    }

    &__button {
        font-family: $font-family;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: #fff;
        border-radius: 1000px;
        width: 195px;
        height: 54px;
        box-shadow: inset 0 0 27px 4px rgba(255, 255, 255, 0.25);
        background-color: $colorMain;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            box-shadow: inset 0 0 27px 4px rgba(148, 148, 148, 0.15);
            border: 1px solid $colorMain;
        }

        @media (max-width: 650px) {
            display: none;
        }
    }

    &__arrows {
        display: none;

        @media (max-width: 650px) {
            display: flex;
            align-items: center;
        }
    }

    &__arrow-left {

        @media (max-width: 650px) {
            margin-right: 30px;
        }
    }

    &__arrow-right {
        @media (max-width: 650px) {
            margin-right: 12px;
        }
    }
}

// princeples

.principles {
    display: flex;
    margin-top: 54px;
    justify-content: space-between;   

    @media (max-width: 960px) {
        justify-content: center;
    }
}

.principles:hover .principles-left__star { 
    transform: scale(80%);
}

.principles-left {
    position: relative;

    @media (max-width: 1160px) {
        max-width: 450px;
        margin-top: 100px;
    }

    @media (max-width: 960px) {
        display: none;
    }
    

    &__circle {
        position: absolute;
        z-index: -3;
        left: -282px;
        top: -193px;
        max-width: 1131px;
    }

    &__star {
        max-width: 862px;
        position: absolute;
        top: 22px;
        left: -91px;
        transition: 1s;

        @media (max-width: 1160px) {
            max-width: 450px;
            top: 40px;
            left: 0px;
        }

    }

    &__img {
        max-width: 566px;

        @media (max-width: 1160px) {
            max-width: 450px;
        }

    }
}

.princeples-right {
    display: flex;
    flex-direction: column;
    position: relative;

    @media (max-width: 960px) {
        align-items: center;
    }

    @media (max-width: 650px) {
        align-items: start;
    }

    &__title-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: start;
        margin-left: -100px;
        margin-bottom: 30px;

        @media (max-width: 960px) {
            margin-left: 0px;
        }

        @media (max-width: 650px) {
            gap: 10px;
            margin-bottom: 20px;
        }
    }

    &__link {
        width: 177px;
        height: 46px;

        @media (max-width: 650px) {
            width: 109px;
            height: 30px;
        }
    }

    &__title {
        font-family: $font-family;
        font-weight: 400;
        font-size: 30px;
        text-transform: uppercase;
        color: $colorText;
        width: 575px;

        @media (max-width: 650px) {
            font-size: 16px;
            max-width: 240px;
        }
    }

    &__star {
        position: absolute;
        width: 30px;
        height: 27px;
        top: 13px;
        left: 390px;

        @media (max-width: 650px) {
            display: none;
        }
    }

    &__cards-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 29px;

        @media (max-width: 650px) {
            gap: 22px;
            margin-bottom: 50px;
        }
    }

    &__card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 20px;
        border-radius: 11px;
        width: 400px;
        height: 80px;
        box-shadow: 0 15px 59px 0 rgba(0, 0, 0, 0.08);
        background: #fff;
        padding: 10px 44px 10px 20px;

        @media (max-width: 650px) {
            flex-direction: column;
            gap: 0;
            border-radius: 7px;
            max-width: 300px;
            height: 70px;
            box-shadow: 0 10px 39px 0 rgba(0, 0, 0, 0.08);
            position: relative;
            justify-content: center;
            padding: 25px 21px 15px 20px;
        }
    }

    &__icon {
        width: 60px;
        height: 60px;

        @media (max-width: 650px) {
            width: 26px;
            height: 25px;
            position: absolute;
            top: -12.5px;
            left: 47%;
            background-color: #f5f5f5;
            border-radius: 100%;
        }
    }

    &__text {
        font-family: $font-family;
        font-weight: 400;
        font-size: 11px;
        color: $colorText;

        @media (max-width: 650px) {
            font-size: 10px;
        }
    }

    &__button {
        @media (max-width: 650px) {
            display: none;
        } 
    }
}